<!-- <select ng-model="item.value"
        ng-hide="!isEditMode || item.disabled || item.readonly || disabledByCountry"
        ng-required="item.required"
        ng-change="ngChange(item)"
        style="width: 100%; height: 100%;"
        autocomplete="new-password"
>
    <option ng-repeat="o in states" value="{{o.Id}}" ng-selected="o.Id === item.value" ng-disabled="o.Id === undefined">{{o.Name}}</option>
</select>
<input autocomplete="new-password" ng-disabled="!canChangeBeInfo || !isEditMode || item.disabled || item.readonly" ng-show="!isEditMode || disabledByCountry" type="text" value="{{item.value || ''}}" ng-required="required" disabled="disabled" ng-readonly="disabledByCountry"/>
 -->
