<!-- <select ng-model="item.value"
        ng-change="changeCountry(item)"
        ng-hide="!isEditMode || item.disabled || item.readonly"
        ng-required="item.required"
        style="width: 100%; height: 100%;" >
        <option ng-repeat="o in countries" value="{{o.Id}}" ng-selected="o.Id === item.value" ng-disabled="o.Id === undefined">{{o.Name}}</option>
</select>
<input ng-disabled="isDisabled" ng-hide="isEditMode" type="text" value="{{item.value || ''}}" ng-required="required" disabled="disabled"/> -->
