<!-- <div class="work-hours" style="width: 100%">
    <div ng-if="!isEditMode" class="work-hours-view">
        <input ng-if="item.value.IsOpened" type="text" value="{{openTimeLabel}}" disabled="disabled"/>
        <input ng-if="!item.value.IsOpened" type="text" value="Closed" disabled="disabled"/>
    </div>
    <div ng-if="isEditMode" class="work-hours-controls">
        <span dx-switch="switcherOptions"></span>
        <span ng-if="item.value.IsOpened" class="work-hours-hours">
            <span dx-date-box="openTimeOptions"></span>
                <span>-</span>
            <span dx-date-box="closeTimeOptions"></span>
        </span>
    </div>
</div> -->
