<!-- <div class="row zsn-doc-hat cells12">
    <div class="cell colspan12 zsn-doc-hat-cell" >
        <div>
            <div class="image img-responsive"
                 style="width: 115px;"
                 zsn-bkg-img="{{bgkImg}}">
                <div class="zsn-doc-hat-update-image" ng-show="isEditMode">
                    <div class="align-buttons">
                        <label for="file-input" class="button fg-white bg-transparent" >
                            <span class="mif-loop"></span> Change Image</label>
                        <label class="button fg-white bg-transparent" ng-if="hatData.Img" ng-click="removeImage()">
                            <span class="mif-cancel"></span> Remove Image</label>
                        <input type="file"
                               accept="image/*"
                               class="no-display"
                               id="file-input"
                               onchange="angular.element(this).scope().imageUploaded(this.files)" />
                    </div>
                </div>
            </div>
            <div class="image-print">
                <img ng-src="{{hatData.Img}}" />
            </div>

        </div>

        <div class="zsn-doc-hat-descr">
            <h3 class="zsn-doc-hat-name">{{hatData.Name}}</h3>
            <div class="zsn-doc-hat-row">
                <p class="zsn-doc-hat-about">{{hatData.About}}<span class="zsn-doc-hat-readmore fg-blue" ng-click="onReadmoreClick()" zsn-read-more text="hatData.About">... read more</span></p>
            </div>
            <span class="zsn-doc-hat-address" ng-if="hatData.Address">
                <a class="fg-blue" [href]="address" target="_blank" >{{hatData.Address}}</a>
                <a class="zsn-doc-hat-locator" [href]="address" target="_blank"></a>
            </span>
        </div>
    </div>
</div> -->
