<!-- <div class="smart-street-form">
    <md-autocomplete
        ng-if="isEditMode" 
        md-hide-suggestions-if-scroll-form
        placeholder="Enter your address" 
        md-no-cache="true" 
        md-required="item.required" 
        md-delay="800"
        md-search-text-change="changeListener(v)" 
        md-selected-item="selectedItem"
        md-selected-item-change="select(item)" 
        md-input-class="streetInput" 
        md-search-text="item.value" 
        md-items="item in getMatches(item.value)" 
        md-item-text="item.street_line" 
        md-mode="standard" 
        md-clear-button="true"
    >
        <span md-highlight-text="item.value">{{item.Text}}</span>
    </md-autocomplete>
    <input ng-if="!isEditMode" ng-model="item.value" disabled type="text">
</div> -->
