<!-- <div class="row zsn-doc-hat cells12">
    <div class="cell colspan12 zsn-doc-hat-cell" >
        <div>
            <div class="image img-responsive cursor-pointer"
                 ng-click="downloadPDFDoc(document.Id)"
                 style="width: 115px; background-image: url('/ZSN/App/assets/img/tiles/pdf-icon.png')" >
            </div>
            <div class="image-print">
                <img ng-src="/ZSN/App/assets/img/tiles/pdf-icon.png" ng-click="downloadDoc(document)" />
            </div>
        </div>
        <div class="zsn-doc-hat-descr">
            <h3>{{::document.DocumentDisplayName}}</h3>
            <div class="zsn-doc-hat-row">
                <div>
                    <p class="zsn-doc-hat-about">{{::document.About}}<span class="zsn-doc-hat-readmore fg-blue" ng-click="onReadmoreClick()" zsn-read-more>... read more</span></p>
                    <p><span class="fg-blue cursor-pointer" ng-click="downloadPDFDoc(document.Id)">{{::document.Id}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div> -->
