<!-- <form class="select-card-directive" name="selectCardForm">
    <div ng-click="addNewCard()" class="new-card"> 
      <i class="dx-icon mif-plus green-icon"></i>
      <span>New</span>
    </div>
    <div id="paymentOptions">
    <ul>
      <li ng-repeat="card in cards" ng-class="{'selected-card': card.Id === defaultCard.Id}" ng-click="selectedCard(card.Id)" id="{{card.Id}}">
        <div class="card">
          <img class="card-type" ng-if="getCardImage(card.CardBrand,false,true) !== null" ng-src='{{getCardImage(card.CardBrand,false,true)}}' alt="{{card.CardBrand}}">
          <div class="details">
            <span>Ending in {{card.LastDigits}}</span>
            
          </div>
          <i ng-if="value === card.Id" class="fa fa-check-circle selected-icon"></i>
        </div>
      </li>
      <li ng-if="cards.length == 0 && isDataLoaded">
        <div class="card-not-fund">
          <span>payment methods not found</span>
        </div>
      </li>
    </ul>
    </div>
  </form> -->
