<!-- <div class="cc-types">
    <img class="cc-types__blur cc-types__img--amex" ng-src='{{getCardImage("american express",false,true)}}'>
    <img class="cc-types__blur cc-types__img--visa" ng-src='{{getCardImage("visa",false,true)}}'>
    <img class="cc-types__blur cc-types__img--mastercard" ng-src='{{getCardImage("mastercard",false,true)}}'>
    <img class="cc-types__blur cc-types__img--discover" ng-src='{{getCardImage("discover",false,true)}}'>
    <img class="cc-types__blur cc-types__img--genric" ng-src='{{getCardImage("genric",false,true)}}'>
</div>

<div class="card-section-block">
    <span>Number:</span>
    <input ng-disabled="disabled" placeholder="XXXX XXXX XXXX XXXX" id="card-number-data" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" type="text" class="cc-number-input">
</div>

<div class="card-section-block">
    <span>Exp:</span>
    <div class="creditcard-input-group">
            <div class="creditcard-select-box">
                <select ng-disabled="disabled" class="input select" id="month-select" name="month">
                    <option value="null" selected="selected">month</option>
                </select>
            </div>
            <div class="creditcard-select-box">
                <select ng-disabled="disabled" class="input select" id="year-select" name="year">
                    <option value="null" selected="selected">year</option>
                </select>
            </div>
        </div>
        <span>CVV:</span>
        <input ng-required="true" placeholder="***" ng-disabled="disabled" id="card-code-data" maxlength="4" onkeypress="return (event.charCode == 8 || event.charCode == 0 || event.charCode == 13) ? null : event.charCode >= 48 && event.charCode <= 57" type="password" class="cvv-number-input">        
</div>
<link href="/ZSN/App/assets/css/creditCardDirective.css" rel="stylesheet" /> -->
